@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #FFF;
    --green: #003cff;
    --tamanho-paragrafo: 1.2rem;
    --altura-paragrafo: 1.6rem;
}

header {
    background: linear-gradient(rgb(57, 224, 224), #2c76d6);
    padding: 1.8rem 0;
}

header h1 {
    text-align: center;
    font-family:  sans-serif;
    color: var(--white);
}

main {
    margin: 5rem 3rem;
}

.welcome-one {
    display: flex;
    justify-content: space-between;
}

.welcome-one span {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

.welcome-one p {
    width: 50%;
    font-size: var(--tamanho-paragrafo);
    line-height: var(--altura-paragrafo);
}

.welcome-one img {
    width: 20%;
}

.welcome-two {
    display: flex;
}

.welcome-two img {
    width: 500px;
}

.welcome-two p {
    width: 50%;
    font-size: var(--tamanho-paragrafo);
    padding: 4rem 0;
    line-height: var(--altura-paragrafo);
}

#button-next {
    background: linear-gradient(rgb(57, 224, 224), #2c76d6);
    color: rgb(255, 255, 255);
    padding: 0.7rem 1.1rem;
    border: 0;
    border-radius: 22px;
    font-size: 1.8rem;
    margin-left: 85%;
    
}

footer{
    background: linear-gradient(rgb(57, 224, 224), #2c76d6);
    color: white;
    padding: 50px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

